[report]
omit =
    */__pycache__/*
    */venv/*
    */__init__.py
    */ctypes/*
    */decimal.py
    */numbers.py
    */uuid.py
    */html/*
    */mimetypes.py

[html]
directory = coverage_html
    